@use '../abstracts/index' as *;
@use './fonts' as *;

html,
body,
#app {
  height: 100%;
  margin: 0;
  background-color: var(--body-bg);
  font-family: 'PlusJakartaSans', system-ui, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}
