@use './colors' as *;
@use './variables' as *;

:root {
    //Variables
    --layout-header-height: #{$header-height};
    --layout-sidebar-width: #{$sidebar-width};
    --layout-sidebar-collapsed-width: #{$sidebar-collapsed-width};

    //Colors
    --body-bg: #{$color-light-layout-bg};
}

:root[data-theme='dark'] {
    --body-bg: #{$color-dark-layout-bg};
}